{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
          <h1>Formulaire</h1>
    <form method="POST">

        <input type="text" name="etoile" >
        <input type="submit">


    </form>

{% endblock %}

