#index:
#    path: /
#    controller: App\Controller\DefaultController::index
app_homepage:
      path: /
      controller: App\Controller\HomeController::home


app_produits_create:
      path: /produits/create
      controller: App\Controller\ProductController::create
      methods : ['GET','POST']

app_download:
      path: /download/pdf
      controller: App\Controller\APIController::pdf
      methods : ['GET']

app_produits:
      path: /produits/{slug}
      controller: App\Controller\ProductController::show
      requirements:
          slug : '[a-z0-9\-]+'
      methods : ['GET']

